/* 
.mixed-chart {
    display: flex !important;
    justify-content: center !important;
    margin: 40px auto;
}
 */

/* div.mixed-chart {
    display: flex;
    justify-content: center;
    margin: 90px auto !important;
} */